<form class="form-inline" ng-submit='handleSubmit({location: location, term: term})'>
  <div class="form-group">
    <label for="locationInput">Location</label>
    <input type="text" class="form-control" id="locationInput" placeholder="e.g. San Francisco, CA" ng-model='location'></input>
  </div>
  <div class="form-group">
    <label for="termInput">Term</label>
    <input type="text" class="form-control" id="termInput" placeholder="e.g. Restaurants, Cafes" ng-model='term'></input>
  </div>
  <button type="submit" class="btn btn-default">Search</input>
  <button class="btn btn-default" ng-click='continue()'>Continue</button>
</form>

<div class="row">
  <div class="col-md-4">
    <table class="table">
      <thead><th>Search Results</th></thead>
      <tbody>
        <tr ng-repeat='result in searchResults'>
          <td>
            <span>
              <div>{{result.name}}</div>
              <div>{{result.streetAddr}}</div>
              <div>Rating: {{result.rating}}/5</div>
            </span>
          </td>
          <td><button class='addResult' ng-click='addResult(result)'>+</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8">
    <table class="table">
      <thead><th>Saved Locations</th></thead>
      <tbody>
        <tr ng-repeat='location in savedLocations'>
          <td>
            <span>
              <div>{{location.name}}</div>
              <div>{{location.streetAddr}}</div>
              <div>Rating: {{location.rating}}/5</div>
            </span>
            <td><button class='removeLoc' ng-click='removeLoc(location)'>-</button></td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
